//縦横中央配置するためのmixin
@mixin center($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

$black: #000;
$black-2: #1f1f1f;
$light-black: #282828;
$navy: #003f73;
$red: #a12c38;
$yellow: #ffff00;

//variables.scss書き換え
//$font-size-base: .75rem
//p - pc:13px sm:12px
//h5 - pc:15px sm:12px
//h4 - pc:17px sm:12px
//h3 - pc:21px sm:16px
//h2-2 - pc:25px sm:18px
//h2 - pc:35px sm:18px
//h1 - pc:40px sm:20px

@for $i from 10 through 60 {
    .f-#{$i} {
        font-size: #{$i}px;
    }
}

h1,
.h1 {
    font-size: 1.25rem; //20px
}

h2,
.h2 {
    font-size: 1.125rem; //18px
}

.h2-2 {
    font-size: 1.125rem !important; //18px
}

h3,
.h3 {
    font-size: 1rem; //21px
}

h4,
.h4 {
    font-size: 0.75rem; //12px
}

h5,
.h5 {
    font-size: 0.75rem; //12px
}

.font-size-0 {
    font-size: 0;
}

.nav-font-size {
    font-size: 0.75rem; //12px
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

ul li {
    list-style: none;
}

html,
body {
    overflow-x: hidden;
}

html {
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "pkna" 1;
    letter-spacing: 0.1rem;
    line-height: 2; //2.5
}

body {
    @extend html;
}

.font-genno-bold {
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "pkna" 1;
    letter-spacing: 0.1rem;
    line-height: 2; //2.5
}

.font-genno-medium {
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-noto-bold {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.font-noto-regular {
    font-family: noto-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-times {
    font-family: Times;
    font-weight: 200;
}

/* 5 Columns */

.col-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

// spot style
.lsn {
    list-style: none;
}
.z-10 {
    position: relative;
    z-index: 10;
}
.z-20 {
    position: relative;
    z-index: 20;
}
.z-30 {
    position: relative;
    z-index: 30;
}
.z-40 {
    position: relative;
    z-index: 40;
}
.z-50 {
    position: relative;
    z-index: 50;
}

.lh-24 {
    line-height: 2.4;
}

.lh-18 {
    line-height: 1.8;
}
.lh-16 {
    line-height: 1.6;
}

.lh-14 {
    line-height: 1.4;
}

.lh-1 {
    line-height: 1;
}

.z-10 {
    position: relative;
    z-index: 10;
}

a:hover {
    text-decoration: none;
    color: #c0c0c0;
}

.small-sec {
    font-size: 0.6875rem;
}

.font-big {
    font-size: 2.5rem;
    line-height: 1;
}

.bg-black {
    background: $black;
}

.bg-black-2 {
    background: $black-2;
}

.bg-yellow {
    background: $yellow;
}

.bg-Lgray {
    background: #f1f1f1;
}

.bg-blue {
    background: rgba(0, 152, 216, 0.1);
}

.bg-blue-02 {
    background: #0098d8;
}

.border-blue {
    border-color: #0098d8 !important;
}

.text-blue {
    color: #0098d8 !important;
}

.text-gray {
    color: #333333 !important;
}

.lsn {
    list-style: none;
}

header img {
    margin-top: -15px;
}

header .pc-menu li + li {
    margin-left: 2rem;
}

// .gradient {
//   display: block;
//   background: linear-gradient(
//     0deg,
//     rgba(0, 0, 0, 0) 23%,
//     rgba(63, 153, 266, 0.217525) 57%,
//     rgba(53, 138, 223, 0.646096) 93%
//   );
// }

.header-pos {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    transition: 1s;
    &.is_set {
        position: fixed;
        top: 0 !important;
    }
}

// ハンバーガーメニュー
header {
    .sp-menu span {
        display: block;
        width: 25px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        transition: all 0.5s;
        margin: 0 auto;
    }
}
.sp-menu {
    position: relative;
    right: 0;
    width: 30px;
    height: auto;
    z-index: 3;
    transition: all 0.5s;
}
.sp-menu span + span {
    margin-top: 7px;
}
.sp-menu span:nth-of-type(1) {
    position: relative;
    top: 0;
    right: 0;
}
.sp-menu span:nth-of-type(2) {
    position: relative;
    top: 0;
    right: 0;
}
.sp-menu span:nth-of-type(3) {
    position: relative;
    bottom: 0;
    right: 0;
}

.sp-menu.active {
    right: 270px;
    transition: all 0.5s;
    position: relative;
    top: 0;
    z-index: 3;
}

.sp-menu.active span {
    background-color: #fff;
}
.sp-menu.active span:nth-of-type(1) {
    top: 9px;
    transform: rotate(45deg);
}
.sp-menu.active span:nth-of-type(2) {
    background-color: rgba(255, 255, 255, 0);
}
.sp-menu.active span:nth-of-type(3) {
    bottom: 9px;
    transform: rotate(-45deg);
}
.close-btn {
    display: none;
    transition: all 0.5s;
}
.active.close-btn {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 2;
}
.menu-slide ul li {
    position: relative;
}
.menu-slide {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -270px;
    width: 270px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s;
    z-index: 1110;
    opacity: 0;
}
.menu-slide ul li {
    position: relative;
    margin: 0;
}
.menu-slide ul li a {
    display: block;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
}
.active.menu-slide {
    right: 0;
    opacity: 1;
}
.menu-slide ul li a:hover {
    background: #e4e4e4;
}
.menu-slide ul li {
    list-style: none;
}

.mv-copy-sp img:first-child {
    max-width: 200px;
}
.mv-copy-sp img:last-child {
    max-width: 360px;
}

.mv-line {
    margin-top: -50px;
    z-index: 1;
}

.mv-copy-sp {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 0;
    transform: translate(0, 0);
}

/*== ボタン共通設定 */
.more-btn {
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
    overflow: hidden;
    /*ボタンの形状*/
    border: 2px solid #0098d8;
    z-index: 1;
    background: #0098d8;
    color: #fff !important;
    overflow: hidden;
    padding: 0.5rem 1rem 0.5rem;
    border-radius: 50px;
    text-align: center;
    width: 220px;
    /*アニメーションの指定*/
    transition: ease 0.2s;
    font-size: 18px;
}

/*ボタン内spanの形状*/
.more-btn span {
    position: relative;
    z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color: #fff;
}

.more-btn:hover span {
    color: #fff;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
    content: "";
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*色や形状*/
    background: #53aed5; /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
}

/*hoverした際の形状*/
.bgleft:hover:before {
    transform-origin: left top;
    transform: scale(1, 1);
}

/*== ボタン共通設定 */
.more-btn-future {
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
    overflow: hidden;
    /*ボタンの形状*/
    border: 2px solid #0098d8;
    z-index: 1;
    background: #0098d8;
    color: #fff !important;
    overflow: hidden;
    padding: 0.2rem 1rem 0.3rem;
    border-radius: 50px;
    text-align: center;
    width: 220px;
    /*アニメーションの指定*/
    transition: ease 0.2s;
    font-size: 16px;
}

/*ボタン内spanの形状*/
.more-btn-future span {
    position: relative;
    z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color: #fff;
}

.more-btn-future:hover span {
    color: #fff;
}

.c-red {
    color: red;
}

.front-top-title {
    font-size: 30px;
}

.sec-title {
    font-size: 26px;
    border-bottom: solid 3px #0098d8;
    padding-bottom: 1rem;
    display: inline-block;
}

.sengen .border-blue {
    border-bottom: solid 2px #0098d8 !important;
}

.sdgs-detail img {
    max-width: 500px;
}

.bg-mc {
    background-image: url(../img/bg-sdgs-mc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.media-compact img {
    max-width: 200px;
}

.phot-init-frame {
    position: relative;
    overflow: hidden;
    padding-top: 49%;
    // height: 100%;
    .img01 {
        @include center(true, true);
        width: auto;
        height: 100%;
        max-width: none;
    }
    // .img02 {
    //   top: 0;
    //   left: 0;
    //   transform: translate(0, 0);
    //   width: auto;
    //   max-width: 45px;
    // }
    // .img03 {
    //   top: 0;
    //   left: 0;
    //   transform: translate(0, 0);
    //   width: auto;
    //   max-width: 91px;
    // }
    // .img04 {
    //   top: 0;
    //   left: 0;
    //   transform: translate(0, 0);
    //   width: auto;
    //   max-width: 46px;
    // }
    .img0 {
        bottom: 0;
        left: 0;
        transform: translate(0, 0);
        width: auto;
        height: 56px;
    }
}

.phot-init-frame img:first-child:hover {
    transform: translate(-50%, -50%) scale(1.1);
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

footer .footer-logo img {
    max-width: 300px;
}

@keyframes zoomUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
    animation: zoomUp 10s linear 0s 1 normal both;
}

//imgタグだと下に隙間ができるのでblockに。
.slide-img img {
    display: block;
}

.initiatives p:first-child {
    font-size: 18px;
}
.initiatives p:last-child {
    line-height: 1.8;
    letter-spacing: 1.4px;
}

.bg-u-01 {
    position: absolute;
    top: 80px;
    right: -3rem;
    transform: translate(0, 0);
    img {
        max-width: 200px;
    }
}

.bg-u-02 {
    position: absolute;
    bottom: -130px;
    right: -1rem;
    transform: translate(0rem, 0);
    img {
        max-width: 150px;
    }
}

// 喜びと笑顔あふれる未来へ-------------------------------------------
.h-fv {
    height: 180px;
}

.bg-mv-future {
    background-image: url(../img/bg-mv-future-sp.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.phot-future-frame {
    position: relative;
    overflow: hidden;
    padding-top: 56%;
    img {
        @include center(true, true);
        width: auto;
        height: 100%;
        max-width: none;
    }
}

.bg-futureU {
    position: absolute;
    top: 150px;
    left: -3rem;
    z-index: 1;
    transform: translate(0, 0);
    img {
        max-width: 200px;
    }
}

.z-future {
    z-index: 1;
    width: 25%;
}

.future p:first-child {
    font-size: 18px;
}
.future-detail {
    line-height: 1.8;
    font-size: 16px;
}

.lsn {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.lsn-text {
    position: relative;
    z-index: 1;
}
.lsn-text:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /*テキストからの距離*/
    width: 0%; /*初期状態では下線非表示*/
    height: 2px; /*下線の高さ*/
    background: #fff; /*下線の色*/
    z-index: -1;
    transition: all 0.4s; /*アニメーション速度*/
}
.lsn:hover .lsn-text:after {
    width: 100%; /*hover時に表示*/
}

// 地域・社会への貢献-------------------------------------------

.bg-mv-contribution {
    background-image: url(../img/bg-mv-contribution-sp.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-contributionU {
    position: absolute;
    bottom: -170px;
    right: -1rem;
    transform: translate(0rem, 0);
    img {
        padding-top: 33%;
    }
}

// kiyo 地域環境保全のために

.bg-mv-conservation {
    background-image: url(../img/bg-mv-conservation-sp.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.mv-img-border-bottom {
    // 各ページFVの下線
    position: relative;
    &::before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #0098d8;
    }
}

.pos-conservation-u {
    position: absolute;
    bottom: -3rem;
    right: -0.5rem;
    img {
        width: 100%;
        max-width: 150px;
    }
}

// ワークライフバランス-------------------------------------------

.bg-mv-balance {
    background-image: url(../img/bg-mv-balance-sp.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.balance-icon img {
    max-width: 100px;
}

.houjinLogo img {
    max-width: 220px;
}

.balance-br {
    border-radius: 15px;
}

.b-list li::before {
    content: "●";
    color: #0098d8;
    border-radius: 50%;
    font-size: 13px;
    padding-right: 5px;
}

// kiyo テレビ宮崎 SDGs宣言
.bg-mv-sdgs-declaration {
    background-image: url(../img/bg-mv-sdgs-declaration-sp.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.title-declaration {
    font-size: 24px;
    padding: 1rem 0;
    border-top: 2px solid #0098d8 !important;
    border-bottom: 2px solid #0098d8 !important;
}
.sub-title-declaration {
    font-size: 20px;
    line-height: 1.8;
}
.read-declaration {
    font-size: 16px;
}
.pos-declaration-u {
    position: absolute;
    top: -3rem;
    left: -2rem;
    img {
        width: 100%;
        max-width: 150px;
    }
}

// kiyo header-style
.header {
    background: transparent;
    transition: 0.3s;
    &.is_set {
        background: transparent;
        .gradient {
            background: transparent;
        }
        .pc-menu {
            a {
                color: #0098d8;
            }
        }
        .sp-menu {
            position: relative;
            &::before {
                content: "";
                @include center(true, true);
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                background: #0098d8;
            }
        }
    }
    .pc-menu {
        a {
            color: #fff;
            transition: 0.3s;
        }
    }
}

/*スクロールダウン全体の場所*/
.scrolldown {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 1%;
    right: 50%;
    /*矢印の動き1秒かけて永遠にループ*/
    animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
    0% {
        bottom: 1%;
    }
    50% {
        bottom: 3%;
    }
    100% {
        bottom: 1%;
    }
}

.scrolldown span {
    position: absolute;
    left: -25px;
    bottom: 50px;
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
    z-index: 2;
}

.scrolldown:before {
    content: "";
    position: absolute;
    bottom: 35px;
    right: -6px;
    width: 2px;
    height: 12px;
    background: #fff;
    transform: skewX(-50deg);
    z-index: 2;
}

.scrolldown:after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: -10px;
    width: 2px;
    height: 13px;
    background: #fff;
    transform: skewX(50deg);
    z-index: 2;
}

.current {
    border-bottom: 2px solid #fff;
}

.fuchidori {
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
        1px -1px 0 #fff, 0px 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff,
        1px 0 0 #fff;
}

// 市町村ウィーク
$blue: #0098d8;
.bg-mv-week {
    background-image: url(../img/bg-municipal-week-sp.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 100%;
}
.bg-mv-week-single {
    background-image: url(../img/umk-sdgs-single-logo-sp.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 70%;
}
.date-content {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    line-height: 1.6;
}
.weekly-area {
    border: 3px solid $blue;
    color: $blue;
    line-height: 1;
}

.btn-white-to-blue {
    background-color: #fff;
    border: solid 1px #1597d7;
    color: $blue !important;
    transition: 0.3s ease-out;
    &:hover,
    &.active {
        background-color: $blue !important;
        color: #fff !important;
    }
}

.btn-gray-to-blue {
    background-color: #f1f1f1;
    color: #000 !important;
    transition: 0.3s ease-out;
    &:hover,
    &.active {
        background-color: $blue !important;
        color: #fff !important;
    }
}

.text-black {
    color: #000 !important;
    font-weight: bold;
}

.sns {
    text-align: right;
    img {
        margin-left: 0.25rem;
        width: 30px;
    }
}

.news-content {
    background-color: #fff;
    & + .news-content {
        margin-top: 1rem;
    }
}

.news-img-area {
}

.news-detiel-area {
    dl {
        margin-bottom: 0;
        display: flex;
        & + dl {
            margin-top: 1rem;
        }
        dt {
            width: 90px;
            span {
                border: 1px solid #0098d8;
                color: #0098d8;
                display: block;
                text-align: center;
                border-radius: 4px;
            }
        }
        dd {
            width: calc(100% - 90px);
            margin-bottom: 0;
            margin-right: 0;
        }
    }
}

.tab-content {
    position: relative;
    z-index: 10;
}

.movie-icon {
    @include center(true, true);
    width: 80px;
}

.youtube-frame {
    padding-top: 56.2%;
    position: relative;
    iframe {
        @include center(true, true);
        width: 100%;
        height: 100%;
    }
}

.modal-content {
    .close {
        position: absolute;
        top: -3rem;
        right: 0;
        background: none;
        border: none;
        font-weight: bold;
        color: #fff;
        font-size: 30px;
        padding: 0;
    }
}

.pos-week-logo,
.pos-sdgs-logo {
    position: absolute;
}
.pos-sdgs-logo {
    left: 1rem;
    top: 1.5rem;
    max-width: 160px;
    z-index: 45;
}

.pos-week-logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 3rem);
}

.border-color-blue {
    border-color: #0098d8 !important;
}

.border-width-3 {
    border-width: 3px !important;
}

// 市町村ウィーク コンテンツエリアスタイル
#present {
    h2 {
        // font-size: 32px;
    }
    h3 {
        display: inline-block;
        color: #1597d7;
        border: 1px solid #1597d7;
        background-color: #fff;
        border-radius: 4px;
        padding: 4px 8px;
    }
}

// 市町村ウィーク　CM検索エリア
.data-search-container {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.data-search-head {
    cursor: pointer;
    p {
        color: #1597d7;
    }

    .data-search-button {
        position: relative;
        width: 26px;
        height: 26px;
        background-color: #1597d7;
        border-radius: 50%;

        span:nth-child(1),
        span:nth-child(2) {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -1px;
            margin-left: -6px;
            width: 13px;
            height: 3px;
            font-size: 30px;
            background-color: #fff;
        }
        span:nth-child(2) {
            transform: rotate(90deg);
            transition: all 0.3s ease;
        }
    }
    &.active .data-search-button {
        span:nth-child(2) {
            opacity: 0;
            transition: all 0.4s ease;
        }
    }
}
.data-search-area {
    height: 0;
    opacity: 0;
}

.data-search-area.active {
    height: auto;
    opacity: 1;
    transition: all 0.4s ease;
}

.loading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// 1.5℃の約束-------------------------------------------
.bg-promise {
    background-image: linear-gradient(to bottom, transparent 40%, #fff 60%),
        url(../img/bg-promise.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.promise-main-container {
    border-radius: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(86, 86, 86, 0.2);
    background-image: url(../img/promise-illust.png);
    background-repeat: no-repeat;
    background-position: center bottom 2rem;
    background-size: contain;
}

.promise-main-container {
    .promise-main-img {
        max-width: 800px;
    }
}

.promise-sec-title {
    border-bottom: 2px solid #e5e5e5;
}

.act-box {
    box-shadow: 0 0 10px 0 rgba(86, 86, 86, 0.2);
    border-radius: 1rem;
    img {
        max-width: 150px;
    }
}

.act-number {
    color: #0098d8;
    position: relative;
    &::before {
        content: "";
        @include center(true, false);
        bottom: 0;
        width: 16px;
        height: 3px;
        background-color: #0098d8;
    }
}

.promise-sec-act {
    background-image: url(../img/promise-actnow.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 300px auto;
    padding-top: 1rem;
}
