@include media-breakpoint-up(sm) {
    @for $i from 10 through 60 {
        .f-sm-#{$i} {
            font-size: #{$i}px;
        }
    }

    .col-sm-15 {
        width: 20%;
        flex: 0 0 20%;
    }

    .h-fv {
        height: 245px;
    }

    .bg-u-01 {
        right: -10rem;
        img {
            max-width: 330px;
        }
    }

    .bg-u-02 {
        bottom: -160px;
    }

    .bg-futureU {
        top: 100px;
        left: -8rem;
        img {
            max-width: 330px;
        }
    }

    .mv-copy .u-copy {
        max-width: 320px;
    }

    .mv-copy .u-logo {
        max-width: 170px;
    }

    .mv-copy {
        position: absolute;
        z-index: 2;
        top: 80px;
        left: 0;
        transform: translate(0, 0);
    }

    .mv-line {
        margin-top: -90px;
        z-index: 1;
    }

    .bg-mv-sdgs-declaration {
        background-image: url(../img/bg-mv-sdgs-declaration.jpg);
    }

    .bg-mv-future {
        background-image: url(../img/bg-mv-future.jpg);
    }

    .bg-mv-contribution {
        background-image: url(../img/bg-mv-contribution.jpg);
    }

    .bg-mv-conservation {
        background-image: url(../img/bg-mv-conservation.jpg);
    }

    .bg-mv-balance {
        background-image: url(../img/bg-mv-balance.jpg);
    }

    // 市町村ウィーク
    .bg-mv-week {
        background-image: url(../img/bg-municipal-week.jpg);
        // padding-top: 43%;
        padding-top: 70%;
    }
    // 市町村ウィーク
    .bg-mv-week-single {
        background-image: url(../img/umk-sdgs-single-logo-pc.jpg);
        padding-top: 30%;
    }

    .pos-week-logo {
        width: 60%;
    }

    .phot-init-frame {
        .img0 {
            height: 90px;
        }
    }

    .news-content {
        & + .news-content {
            margin-top: 2rem;
        }
    }
}

@include media-breakpoint-up(md) {
    @for $i from 10 through 60 {
        .f-md-#{$i} {
            font-size: #{$i}px;
        }
    }

    .col-md-15 {
        width: 20%;
        flex: 0 0 20%;
    }

    .h-fv {
        height: 315px;
    }

    .media-compact img {
        max-width: 245px;
    }

    .front-top-title {
        font-size: 40px;
    }

    .sec-title {
        font-size: 30px;
    }

    .more-btn {
        width: 220px;
    }
    .bg-u-01 {
        top: -20px;
        right: -8rem;
        img {
            max-width: 390px;
        }
    }
    .bg-u-02 {
        bottom: -250px;
        right: 0.5rem;
        img {
            max-width: 200px;
        }
    }

    .bg-futureU {
        top: 85px;
        left: -8rem;
        img {
            max-width: 390px;
        }
    }

    .phot-init-frame {
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    .initiatives p:first-child {
        font-size: 24px;
    }
    .initiatives p:last-child {
        line-height: 1.8;
        letter-spacing: 1.4px;
    }

    .future p:first-child {
        font-size: 20px;
    }
    .future-detail {
        line-height: 1.8;
        font-size: 16px;
    }

    .mv-copy .u-copy {
        max-width: 400px;
    }

    .mv-copy .u-logo {
        max-width: 230px;
    }

    .houjinLogo img {
        max-width: 270px;
    }

    // kiyo 地域環境保全
    .pos-conservation-u {
        bottom: -8rem;
        img {
            max-width: 200px;
        }
    }

    .gradient {
        display: block;
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 128, 255, 0.9) 90%
        );
    }

    // kiyo テレビ宮崎SDGs宣言
    .title-declaration {
        display: inline-block;
        font-size: 32px;
        padding: 1rem 0;
    }
    .sub-title-declaration {
        font-size: 26px;
    }
    .read-declaration {
        font-size: 18px;
    }
    .pos-declaration-u {
        top: -8rem;
        left: -2rem;
        img {
            max-width: 200px;
        }
    }

    .header.is_set {
        background: #fff;
    }

    .z-future {
        z-index: 1;
        width: 15%;
    }

    // 市町村ウィーク
    .bg-mv-week {
        padding-top: 50%;
    }

    // 1.5℃の約束-------------------------------------------
    .promise-main-container {
        background-position: center bottom 4rem;
    }
    .promise-sec-act {
        background-size: 600px auto;
        padding-top: 2rem;
    }
}

@include media-breakpoint-up(lg) {
    @for $i from 10 through 60 {
        .f-lg-#{$i} {
            font-size: #{$i}px;
        }
    }

    .col-lg-15 {
        width: 20%;
        flex: 0 0 20%;
    }

    .h-fv {
        height: 350px;
    }

    .bg-u-01 {
        right: -13rem;
        img {
            max-width: 410px;
        }
    }

    .bg-futureU {
        left: -10rem;
        img {
            max-width: 410px;
        }
    }

    .future-detail {
        font-size: 12px;
    }

    .mv-line {
        margin-top: -110px;
        z-index: 1;
    }

    .mv-copy {
        top: 120px;
    }

    .mv-copy .u-copy {
        max-width: 550px;
    }

    .mv-copy .u-logo {
        max-width: 310px;
    }

    .mv-line {
        margin-top: -110px;
        z-index: 1;
    }

    .bg-contributionU {
        bottom: -170px;
    }

    .news-img-area {
        width: 50%;
    }

    .news-detiel-area {
        width: 50%;
    }

    .pos-sdgs-logo {
        left: 4rem;
        top: 3rem;
    }

    // 1.5℃の約束-------------------------------------------
    .promise-sec-act {
        background-size: 800px auto;
        padding-top: 4rem;
    }
}

@include media-breakpoint-up(xl) {
    @for $i from 10 through 60 {
        .f-xl-#{$i} {
            font-size: #{$i}px;
        }
    }

    .h-fv {
        height: 500px;
    }

    .bg-u-01 {
        top: 0;
        right: -10rem;
    }

    .bg-futureU {
        left: -10rem;
    }

    .future p:first-child {
        font-size: 24px;
    }
    .future-detail {
        line-height: 1.8;
        font-size: 16px;
    }

    .mv-line {
        margin-top: -200px;
        z-index: 1;
    }

    .mv-copy .u-copy {
        max-width: 630px;
    }

    .mv-copy .u-logo {
        max-width: 330px;
    }

    .mv-copy {
        top: 130px;
    }

    .bg-contributionU {
        right: -1.5rem;
        img {
            max-width: 230px;
        }
    }

    // kiyo 地域環境保全
    .pos-conservation-u {
        bottom: -12rem;
        img {
            max-width: 300px;
        }
    }
    .pos-declaration-u {
        top: -17rem;
        left: -7rem;
        img {
            max-width: 300px;
        }
    }

    /*Scrollテキストの描写*/
    .scrolldown span {
        position: absolute;
        left: -40px;
        bottom: 110px;
        color: #fff;
        font-size: 1rem;
        letter-spacing: 0.05em;
        z-index: 2;
    }

    /* 矢印の描写 */
    .scrolldown:before {
        bottom: 90px;
        right: 2px;
    }

    .scrolldown:after {
        bottom: 90px;
        left: -18px;
    }
    // 1.5℃の約束-------------------------------------------
    .promise-sec-act {
        background-size: 1100px auto;
        padding-top: 7rem;
    }
}
